

  <div class="product-index">
  <a [routerLink]="['/products', products.id]">
        <img class="product-image" src={{products.url}} alt={{products.name}} >
        <h1>{{products.name}}</h1>
        <p>${{products.price}}</p>
        <p>{{products.description}}</p>
  </a>
        <p>
          {{ count }}
        </p>
        <div>
          <button type="button" class="select-input" (click)="increment()">+</button>
          <button type="button" class="select-input" (click)="decrement()">-</button>
        </div>
        
          <button (click)="handleAddToCartClick(products)">Add to Cart</button>
        
      </div>
       
    
    
     
    
